Repository spacetelescope/stsci.imagestats, pull requests merged in 2023-11, with the labels that each got.

#31 Update test matrix and minimum requirements
  .github/workflows/ci.yml
  pyproject.toml
  stsci/imagestats/__init__.py
  stsci/imagestats/histogram1d.py
  tox.ini
Labels: no changelog entry needed

#32 Add status badges
  README.rst
Labels: no changelog entry needed

#33 Add status badges
  README.rst
Labels: no changelog entry needed

#37 Add more CI tests
  tox.ini
Labels: no changelog entry needed

#40 Add unit tests
  setup.py
  stsci/imagestats/__init__.py
  stsci/imagestats/test/test_imagestats.py
  stsci/imagestats/tests/__init__.py
  stsci/imagestats/tests/conftest.py
  stsci/imagestats/tests/test_imagestats.py
Labels: bug

#41 Remove unused imports
  setup.py
Labels: maintenance

#42 Fix codecov not running
  stsci/imagestats/tests/__init__.py
Labels: bug

#43 Improve code coverage
  stsci/imagestats/tests/test_histogram1d.py
  stsci/imagestats/tests/test_imagestats.py
Labels: testing

#44 Performance improvements in histogram1d
  setup.py
  src/buildHistogram.c
  stsci/imagestats/__init__.py
  stsci/imagestats/histogram1d.py
  stsci/imagestats/tests/test_histogram1d.py
Labels: enhancement, testing

#46 Add unit tests.
  stsci/imagestats/__init__.py
  stsci/imagestats/tests/test_imagestats.py
Labels: testing

#48 Fix style testing. Fix PEP8 style. Coverage
  .flake8
  pyproject.toml
  stsci/imagestats/__init__.py
  stsci/imagestats/histogram1d.py
  stsci/imagestats/tests/test_histogram1d.py
  stsci/imagestats/tests/test_imagestats.py
Labels: maintenance, testing

#47 use OpenAstronomy build workflow
  .github/workflows/build.yml
  .github/workflows/publish-to-pypi.yml
Labels: no changelog entry needed

#49 Update license year
  LICENSE.txt
Labels: documentation, no changelog entry needed, maintenance

#50 Fix broken RTD builds after removing pkg_resources
  docs/source/conf.py
  pyproject.toml
  setup.py
  stsci/__init__.py
Labels: bug, help wanted, documentation
